[submodule "thirdlib/u8g2_lib/u8g2"]
	path = thirdlib/u8g2_lib/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "thirdlib/cmsis_lib/CMSIS_5"]
	path = thirdlib/cmsis_lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "thirdlib/cmsis_driver_lib/CMSIS-Driver"]
	path = thirdlib/cmsis_driver_lib/CMSIS-Driver
	url = https://github.com/ARM-software/CMSIS-Driver.git
